<h4>Övning: {{practiceSession.wordListName}}</h4>

<form>
    <div class="row">
        <div class="col-xs-6">
            {{practiceSession.practiceWord.text}}
        </div>
        <div class="col-xs-6">
            {{practiceSession.practiceWord.definition}}
        </div>
    </div>
    <hr class="spacer1" />
    <fieldset ng-disabled="practiceSession.saving">
        <legend>Hur väl kunde du?</legend>
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-success btn-xs btn-block" ng-click="practiceSession.submit('PerfectResponse')">
                    Rätt svar
                    <i class="glyphicon glyphicon-refresh"
                       ng-show="practiceSession.saving == 'PerfectResponse'"
                       ng-class="{'mg-spin': practiceSession.saving == 'PerfectResponse'}"></i>
                </button>
                <button type="button" class="btn btn-success btn-xs btn-block" ng-click="practiceSession.submit('CorrectAfterHesitation')">
                    Rätt svar efter viss tvekan
                    <i class="glyphicon glyphicon-refresh"
                       ng-show="practiceSession.saving == 'CorrectAfterHesitation'"
                       ng-class="{'mg-spin': practiceSession.saving == 'CorrectAfterHesitation'}"></i>
                </button>
                <button type="button" class="btn btn-info btn-xs btn-block" ng-click="practiceSession.submit('RecalledWithSeriousDifficulty')">
                    Rätt svar men svårt
                    <i class="glyphicon glyphicon-refresh"
                       ng-show="practiceSession.saving == 'RecalledWithSeriousDifficulty'"
                       ng-class="{'mg-spin': practiceSession.saving == 'RecalledWithSeriousDifficulty'}"></i>
                </button>
                <button type="button" class="btn btn-warning btn-xs btn-block" ng-click="practiceSession.submit('IncorrectWithEasyRecall')">
                    Fel svar, lätt när svaret visades
                    <i class="glyphicon glyphicon-refresh"
                       ng-show="practiceSession.saving == 'IncorrectWithEasyRecall'"
                       ng-class="{'mg-spin': practiceSession.saving == 'IncorrectWithEasyRecall'}"></i>
                </button>
                <button type="button" class="btn btn-warning btn-xs btn-block" ng-click="practiceSession.submit('IncorrectButRemembered')">
                    Fel svar, påmindes om rätt svar
                    <i class="glyphicon glyphicon-refresh"
                       ng-show="practiceSession.saving == 'IncorrectButRemembered'"
                       ng-class="{'mg-spin': practiceSession.saving == 'IncorrectButRemembered'}"></i>
                </button>
                <button type="button" class="btn btn-danger btn-xs btn-block" ng-click="practiceSession.submit('CompleteBlackout')">
                    Total blackout!
                    <i class="glyphicon glyphicon-refresh"
                       ng-show="practiceSession.saving == 'CompleteBlackout'"
                       ng-class="{'mg-spin': practiceSession.saving == 'CompleteBlackout'}"></i>
                </button>
            </div>
        </div>
        <hr class="spacer5" />
        <div class="row">
            <div class="col-xs-12">
                <small>
                    Svara <span class="label label-success">&nbsp;</span>
                    på ord du verkligen kan. Då återkommer det inte inom övningen. Svarar du
                    <span class="label label-info">&nbsp;</span>, <span class="label label-warning">&nbsp;</span>
                    eller <span class="label label-danger">&nbsp;</span> så repeteras ordet tills du kan det.
                </small>
            </div>
        </div>
    </fieldset>
</form>