<p class="lead">
    Övning
</p>

<form ng-submit="practiceSession.showMeaning()" ng-show="practiceSession.showWord">
    <fieldset>
        <legend>
            {{practiceSession.practiceWord.text}}
        </legend>
        <div class="row">
            <div class="col-xs-6">
                <input class="btn btn-primary btn-block" type="submit" value="visa betydelse" />
            </div>
            <div class="col-xs-6">
                <a class="btn btn-default btn-block" href="/wordlist">avbryt</a>
            </div>
        </div>
    </fieldset>
</form>

<form ng-hide="practiceSession.showWord">
    <div class="row">
        <div class="col-xs-6">
            {{practiceSession.practiceWord.text}}
        </div>
        <div class="col-xs-6">
            {{practiceSession.practiceWord.definition}}
        </div>
    </div>
    <hr/>
    <fieldset ng-disabled="practiceSession.saving || practiceSession.redirecting">
        <legend>Hur väl kunde du?</legend>
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-success btn-block" ng-click="practiceSession.submit('PerfectResponse')">
                    Rätt svar
                    <i class="glyphicon glyphicon-refresh mg-spin" ng-show="practiceSession.saving == 'PerfectResponse'"></i>
                </button>
                <button type="button" class="btn btn-success btn-block" ng-click="practiceSession.submit('CorrectAfterHesitation')">
                    Rätt svar efter viss tvekan
                    <i class="glyphicon glyphicon-refresh mg-spin" ng-show="practiceSession.saving == 'CorrectAfterHesitation'"></i>
                </button>
                <button type="button" class="btn btn-info btn-block" ng-click="practiceSession.submit('RecalledWithSeriousDifficulty')">
                    Rätt svar men svårt
                    <i class="glyphicon glyphicon-refresh mg-spin" ng-show="practiceSession.saving == 'RecalledWithSeriousDifficulty'"></i>
                </button>
                <button type="button" class="btn btn-warning btn-block" ng-click="practiceSession.submit('IncorrectWithEasyRecall')">
                    Fel svar, lätt när svaret visades
                    <i class="glyphicon glyphicon-refresh mg-spin" ng-show="practiceSession.saving == 'IncorrectWithEasyRecall'"></i>
                </button>
                <button type="button" class="btn btn-warning btn-block" ng-click="practiceSession.submit('IncorrectButRemembered')">
                    Fel svar, påmindes om rätt svar
                    <i class="glyphicon glyphicon-refresh mg-spin" ng-show="practiceSession.saving == 'IncorrectButRemembered'"></i>
                </button>
                <button type="button" class="btn btn-danger btn-block" ng-click="practiceSession.submit('CompleteBlackout')">
                    Total blackout!
                    <i class="glyphicon glyphicon-refresh mg-spin" ng-show="practiceSession.saving == 'CompleteBlackout'"></i>
                </button>
            </div>
        </div>
    </fieldset>
</form>
