@model MinaGlosor.Web.Controllers.AccountPasswordController.SetPasswordViewModel

<p class="lead">
    Ange ditt nya lösenord.
</p>
<form method="POST" name="form" action="@Url.Action("Set")">
    @Html.DisplayFor(model => Html.ViewData.ModelState, "ValidationSummary", new { message = "Det gick inte att ändra lösenord. Försök igen." })
    @Html.HiddenFor(x => x.ActivationCode)
    <div class="row">
        <div class="col-md-4">
            <div class="form-group" ng-class="{'has-error': form.password.$dirty && form.password.$invalid}">
                <label class="control-label">
                    Ange lösenord
                </label>
                <input type="password"
                       class="form-control"
                       name="password"
                       ng-model="user.password"
                       placeholder="Skriv ett lösenord"
                       ng-focus="showPasswordPrompt = true"
                       ng-blur="showPasswordPrompt = false"
                       ng-model-options="{ updateOn: 'default blur' }"
                       required />
                <div class="messages">
                    <div class="message-animation" ng-if="showPasswordPrompt">
                        Vad vill du ha som lösenord?
                    </div>
                </div>
                <div class="messages" ng-show="form.password.$dirty && form.password.$invalid" ng-messages="form.password.$error">
                    <div class="message-animation" ng-message="required">
                        <strong>Skriv ett lösenord</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group" ng-class="{'has-error': form.passwordConfirm.$dirty && (form.passwordConfirm.$invalid || user.passwordConfirm != user.password)}">
                <label class="control-label">
                    Upprepa lösenordet
                </label>
                <input type="password"
                       class="form-control"
                       name="passwordConfirm"
                       ng-model="user.passwordConfirm"
                       placeholder="Upprepa lösenordet" 
                       ng-focus="showRepeatPasswordPrompt = true"
                       ng-blur="showRepeatPasswordPrompt = false"
                       ng-model-options="{ updateOn: 'default blur' }"
                       required />
                <div class="messages">
                    <div class="message-animation" ng-if="showRepeatPasswordPrompt">
                        Upprepa lösenordet för säkerhets skull.
                    </div>
                </div>
                <div class="messages" ng-show="form.passwordConfirm.$dirty && (form.passwordConfirm.$invalid || user.passwordConfirm != user.password)" ng-messages>
                    <div class="message-animation">
                        <strong>Lösenorden måste vara lika</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input class="btn btn-primary" type="submit" value="Spara" ng-disabled="adminform.$invalid" />
        </div>
    </div>
</form>