@model MinaGlosor.Web.Controllers.PracticeController.ShowWordViewModel

@Html.ActionLink("Avsluta", "Index", "Home")
<p>
    @Model.Word.Text
</p>
@Html.ActionLink("Visa", "Show", new { wordListId = Model.WordListId, wordId = Model.Word.WordId })