@model MinaGlosor.Web.Controllers.AccountController.ActivateAccountViewModel

<p class="lead">
    Välkommen till MinaGlosor.se!
    Börja med att välja ett personligt lösenord.
</p>
<form method="POST" action="@Url.Action("Activate")">
    @Html.HiddenFor(x => x.ActivationCode)
    <label>Lösenord:</label>
    <input type="password" name="password" />
    <label>Upprepa lösenordet:</label>
    <input type="password" name="confirmPassword" />
    <input type="submit" value="Skapa" />
</form>