<form method="POST">
    <label>E-postadress</label>
    <input type="email" name="email" />
    <label>Lösenord</label>
    <input type="password" name="password" />
    <label>Upprepa lösenordet</label>
    <input type="password" name="passwordConfirmed" />
    <input type="submit" value="Skapa" />
</form>