<p class="lead">
    Inbjudan till MinaGlosor.se.
</p>
<form method="POST" action="@Url.Action("Invite")">
    <label>E-postadress:</label>
    <input type="email" name="email" />
    <input type="submit" value="Skapa" />
</form>