<form method="POST" action="@Url.Action("Logon")">
    <label>E-postadress:</label>
    <input type="email" name="email" />
    <label>Lösenord:</label>
    <input type="password" name="password" />
    <input type="submit" value="Logga in" />
</form>