@{
    Bundles.Reference("bootstrap");
    Bundles.Reference("angularjs");
    Bundles.Reference("Content/app");
}<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>AngularJS</title>
        @Bundles.RenderStylesheets()
        <style>
            .ng-cloak {
                display: none;
            }
        </style>
    </head>
    <body ng-app="App">
        <div class="container ng-cloak">
            @RenderBody()
        </div>
        @Bundles.RenderScripts()
    </body>
</html>
