@{
    Bundles.Reference("Content/main.less");
    Bundles.Reference("Content/readable.min.css");
    Bundles.Reference("Content/toastr.css");
    Bundles.Reference("angularjs");
    Bundles.Reference("angular-routejs");
    Bundles.Reference("angular-animate");
    Bundles.Reference("jquery");
    Bundles.Reference("json3");
    Bundles.Reference("Content/app/app");
}<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>Mina Glosor</title>
        @Bundles.RenderStylesheets()
        <style>
            .ng-cloak {
                display: none;
            }
        </style>
    </head>
    <body ng-app="App">
        <toaster-container toaster-options="{'position-class': 'toast-top-full-width'}"></toaster-container>
        <div class="container ng-cloak">
            @RenderBody()
        </div>
        @Bundles.RenderScripts()
        @Bundles.RenderScripts("scripts")
    </body>
</html>
