@{
    Bundles.Reference("Content/app/infrastructure", "scripts");
    Bundles.Reference("Content/app/wordlist", "scripts");
    Bundles.Reference("Content/app/shared", "scripts");
}

<div ng-view></div>