<h4>Välkommen! <small>Lär dig ett ämne genom repetition.</small></h4>
<p class="lead">
    Öva på dina ordlistor och lär dig hundratals ord på kort tid.
    Effektivisera inlärning genom repetition av &ldquo;svåra&rdquo; ord.
</p>

<p>
    Om du inte har ett konto kan du bjuda in dig själv nedan.
</p>
<form method="POST" name="inviteform" action="@Url.Action("Invite", "AccountInvite")">
    @Html.DisplayFor(model => Html.ViewData.ModelState, "ValidationSummary")
    @* try to catch the spammers *@
    <input style="display: none;" type="email" class="form-control" placeholder="Lämna den här tom" name="useremail" />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group" ng-class="{'has-error': inviteform.useremail.$dirty && inviteform.useremail.$invalid}">
                <label class="control-label">
                    Ange e-postadress
                </label>
                <input type="email"
                       class="form-control"
                       name="useremail2"
                       ng-model="user.email"
                       placeholder="Skriv e-postadress"
                       autofocus="autofocus"
                       ng-focus="showPrompt = true"
                       ng-blur="showPrompt = false"
                       ng-model-options="{ updateOn: 'default blur' }"
                       required />
                <div class="messages">
                    <div class="message-animation" ng-if="showPrompt">
                        Ange din e-postadress
                    </div>
                </div>
                <div class="messages" ng-messages="inviteform.useremail.$error" ng-show="inviteform.useremail.$dirty">
                    <div class="message-animation" ng-message="required">
                        <strong>Skriv din e-postadress</strong>
                    </div>
                    <div class="message-animation" ng-message="email">
                        <strong>Du måste ange en e-postadress</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input class="btn btn-primary" type="submit" value="Bjud in mig" ng-disabled="inviteform.$invalid" />
        </div>
    </div>
</form>
<p>
    Har du redan ett konto kan du @Html.ActionLink("logga in", "Logon", "AccountLogon").
</p>
