@{
    Layout = "";
    Bundles.Reference("bootstrap");
}<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>Mina Glosor</title>
        @Bundles.RenderStylesheets()
    </head>
    <body>
        <div class="container">
            <div class="row">
                <p class="lead">
                    Välkommen! Du måste börja med att skapa ett konto för administratören.
                    Med hjälp av det kommer du kunna hantera användarkonton.
                </p>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </body>
</html>