<div class="panel panel-default">
    <div class="panel-heading">
        <a href="{{'./wordlist/' + item.wordListId}}">
            <i class="glyphicon glyphicon-arrow-right"></i>
            Visa {{item.name + ' (' + item.numberOfWords + ' ord)'}}
        </a>
        <a ng-if="item.numberOfWords"
           href="{{'./wordlist/' + item.wordListId + '/practice/'}}"
           class="btn btn-primary btn-xs pull-right">
            öva
        </a>
        <published-state ng-if="item.isBorrowedWordList == false" published="item.published"></published-state>
        <div>
            <span ng-if="item.isBorrowedWordList">Skapad av {{item.wordListOwnerUsername}}</span>
        </div>
    </div>
    <div class="panel-body">
        <div class="progress progress-flat">
            <div class="progress-bar progress-bar-success" ng-style="getDoneStyle(item)">
                <span class="progress-bar-label">{{item.percentDone}}</span>
            </div>
        </div>
        <div>
            <span>
                Du har gjort klart {{item.percentDone}}%. Fortsätt med nya tills du har nått 100%.
            </span>
        </div>
        <div>
            <span class="label label-warning">{{item.percentDifficultWords}}% svåra</span>
            <span class="label label-success">{{item.percentEasyWords}}% enkla</span>
        </div>
    </div>
</div>
