<form method="POST" name="form" action="@Url.Action("Logon")">
    @Html.DisplayFor(model => Html.ViewData.ModelState, "ValidationSummary", new { message = "Det gick inte att logga in. Försök igen." })
    <div class="row">
        <div class="col-md-4">
            <div class="form-group" ng-class="{'has-error': form.email.$dirty && form.email.$invalid}">
                <label class="control-label">
                    Ange användarnamn eller e-postadress
                </label>
                <input class="form-control"
                       name="email"
                       ng-model="user.email"
                       placeholder="Användarnamn eller e-postadress"
                       autofocus="autofocus"
                       ng-focus="showUsernamePrompt = true"
                       ng-blur="showUsernamePrompt = false"
                       ng-model-options="{ updateOn: 'default blur' }"
                       required />
                <div class="messages">
                    <div class="message-animation" ng-if="showUsernamePrompt">
                        Ange ditt användarnamn eller e-postadress
                    </div>
                </div>
                <div class="messages" ng-messages="form.email.$error" ng-show="form.email.$dirty">
                    <div class="message-animation" ng-message="required">
                        <strong>Ange ditt användarnamn eller e-postadress</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group" ng-class="{'has-error': form.password.$dirty && form.password.$invalid}">
                <label class="control-label">
                    Ange lösenord
                </label>
                <input type="password"
                       class="form-control"
                       name="password"
                       ng-model="user.password"
                       placeholder="Skriv ditt lösenord"
                       ng-focus="showPasswordPrompt = true"
                       ng-blur="showPasswordPrompt = false"
                       ng-model-options="{ updateOn: 'default blur' }"
                       required />
                <div class="messages">
                    <div class="message-animation" ng-if="showPasswordPrompt">
                        Ange ditt lösenord
                    </div>
                </div>
                <div class="messages" ng-messages="form.password.$error" ng-show="form.password.$dirty">
                    <div class="message-animation" ng-message="required">
                        <strong>Ange ditt användarnamn eller e-postadress</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input class="btn btn-primary"
                   type="submit"
                   value="Logga in"
                   ng-disabled="form.$invalid" />
        </div>
    </div>
</form>