@model int
<p class="lead">
    Skriv ordet med förklaringen.
</p>
@Html.ActionLink("Klar", "ViewWords", new { wordListId = Model })
<form method="POST" action="@Url.Action("Add", new { wordListId = Model })">
    <label>Ord:</label>
    <input type="text"
           name="text"
           maxlength="1024"
           autocapitalize="off"
           autocomplete="off"
           autocorrect="off"
           autofocus="autofocus" />
    <label>Förklaring:</label>
    <input type="text" name="definition" maxlength="1024" />
    <input type="submit" value="Skapa" />
</form>