﻿<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-fixed">
            <thead>
                <tr>
                    <th>
                        Ordlista
                    </th>
                    <th>
                        <a href="./wordlist/new" class="btn btn-xs btn-primary">
                            skapa ny ordlista
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody ng-repeat="item in wordLists.userWordLists">
                <tr>
                    <td colspan="2">
                        <a href="{{'./wordlist/' + item.wordListId}}">
                            {{item.name + ' (' + item.numberOfWords + ' ord)'}}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a ng-if="item.numberOfWords" href="{{'./wordlist/' + item.wordListId + '/practice/'}}" class="btn btn-primary">
                            öva
                        </a>
                    </td>
                    <td>
                        <div class="progress progress-flat">
                            <div class="progress-bar progress-bar-success" style="{{'width:' + (item.percentDone - item.percentExpired) + '%'}}"></div>
                            <div class="progress-bar progress-bar-warning" style="{{'width:' + item.percentExpired + '%'}}"></div>
                            <span class="progress-bar-label">{{item.percentDone + '%'}}</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>