<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Publicera ordlista</h3>
</div>
<div class="modal-body" id="modal-body">
    <span ng-hide="$ctrl.published">
        Du kan välja att publicera dina ordlistor. Då kan andra medlemmar öva och ta del av ditt arbete.
        Välj 'Publicera' för att dela '{{$ctrl.wordListName}}'.
    </span>
    <span ng-show="$ctrl.published">
        Välj 'Gör privat' för att göra '{{$ctrl.wordListName}}' osynlig för andra.
    </span>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$ctrl.publish()" ng-hide="$ctrl.published">Publicera</button>
    <button class="btn btn-primary" ng-click="$ctrl.unpublish()" ng-show="$ctrl.published">Gör privat</button>
    <button class="btn btn-default" ng-click="$ctrl.cancel()">Avbryt</button>
</div>
