<div class="row">
    <div class="col-xs-12">
        <a href="./wordlist/new" class="btn btn-xs btn-primary">
            skapa ny ordlista
        </a>
                    - eller -
        <a href="./browse" class="btn btn-xs btn-primary">
            utforska andras
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <word-list-favourites numberOfFavourites="item.numberOfFavourites"></word-list-favourites>
    </div>
</div>
<div class="row" ng-repeat="item in progress.progresses">
    <word-list-progress class="col-xs-12" item="item"></word-list-progress>
</div>
<div class="row" ng-show="progress.paging.hasPages">
    <div class="col-xs-12">
        <ul uib-pagination
            total-items="progress.paging.totalItems"
            items-per-page="progress.paging.itemsPerPage"
            ng-model="progress.paging.currentPage"
            ng-change="progress.pageChanged()"></ul>
    </div>
</div>
