<div class="row">
    <div class="col-xs-12">
        <h4>Mina ordlistor</h4>
        <small>
            Staplarna visar <span class="label label-success">&nbsp;</span>
            när du för tillfället inte behöver öva mer.
            När staplarna visar <span class="label label-warning">&nbsp;</span>
            betyder det att vissa ord behöver övas på igen.
            <a href="./help">Läs mer</a>
        </small>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-fixed">
            <thead>
                <tr>
                    <th>
                        Ordlista
                    </th>
                    <th>
                        <a href="./wordlist/new" class="btn btn-xs btn-primary">
                            skapa ny ordlista
                        </a>
                    </th>
                </tr>
            </thead>
            <tr>
                <td colspan="2">
                    <a href="./wordlist/favourites" class="favourite">
                        <i class="glyphicon glyphicon-star yes"></i>
                        <ng-pluralize count="wordLists.numberOfFavourites"
                                      when="{'0': 'Inga favoriter', '1': 'En favorit', 'other': '{} favoriter'}">
                        </ng-pluralize>
                    </a>
                </td>
            </tr>
            <tbody ng-repeat="item in wordLists.userWordLists">
                <tr>
                    <td colspan="2">
                        <a href="{{'./wordlist/' + item.wordListId}}">
                            <i class="glyphicon glyphicon-arrow-right"></i>
                            {{item.name + ' (' + item.numberOfWords + ' ord)'}}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a ng-if="item.numberOfWords" href="{{'./wordlist/' + item.wordListId + '/practice/'}}" class="btn btn-primary btn-xs">
                            öva
                        </a>
                    </td>
                    <td>
                        <progress green="{{item.percentDone - item.percentExpired}}"
                                  yellow="{{item.percentExpired}}"
                                  done="{{item.percentDone}}" />
                    </td>
                </tr>
            </tbody>
        </table>
        <ul uib-pagination
            total-items="controller.paging.totalItems"
            items-per-page="controller.paging.itemsPerPage"
            ng-model="controller.paging.currentPage"
            ng-change="controller.pageChanged()"></ul>
    </div>
</div>