<div c  lass="row">
    <div class="col-xs-12">
        <h4>Alla ordlistor</h4>
        <table class="table table-bordered">
            <tr>
                <th>Namn</th>
            </tr>
            <tr ng-repeat="item in controller.wordLists">
                <td>
                    {{item.name}}
                </td>
            </tr>
        </table>
        <ul uib-pagination
            total-items="controller.paging.totalItems"
            items-per-page="controller.paging.itemsPerPage"
            ng-model="controller.paging.currentPage"
            ng-change="controller.pageChanged()"></ul>
    </div>
</div>