<div class="row">
    <div class="col-xs-12">
        <h4>Alla ordlistor</h4>
    </div>
</div>
<div ng-repeat="item in controller.wordLists">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <img src="https://www.gravatar.com/avatar/{{item.gravatarHash}}"
                     alt="Skapare"
                     width="40"
                     height="40"/>
                {{item.username}}
            </div>
            <div class="panel-body">
                <dl>
                    <dt>Namn</dt>
                    <dd>{{item.name}}</dd>
                    <dt>Antal ord</dt>
                    <dd>{{item.numberOfWords}}</dd>
                </dl>
            </div>
            <div class="panel-footer">
                <a ng-if="item.numberOfWords" href="{{'./wordlist/' + item.wordListId + '/practice/'}}" class="btn btn-primary btn-xs">
                    öva
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul uib-pagination
            total-items="controller.paging.totalItems"
            items-per-page="controller.paging.itemsPerPage"
            ng-model="controller.paging.currentPage"
            ng-change="controller.pageChanged()"></ul>
    </div>
</div>