<div c  lass="row">
    <div class="col-xs-12">
        <h4>Alla ordlistor</h4>
        <table class="table table-bordered">
            <tr>
                <th>Skapare</th>
                <th>Namn</th>
                <th>Ord</th>
                <th></th>
            </tr>
            <tr ng-repeat="item in controller.wordLists">
                <td>
                    <img src="https://www.gravatar.com/avatar/{{item.gravatarHash}}"
                         alt="Skapare"
                         width="80"
                         height="80" />
                </td>
                <td>
                    {{item.name}}
                </td>
                <td>
                    {{item.numberOfWords}}
                </td>
                <td>
                    <a ng-if="item.numberOfWords" href="{{'./wordlist/' + item.wordListId + '/practice/'}}" class="btn btn-primary btn-xs">
                        öva
                    </a>
                </td>
            </tr>
        </table>
        <ul uib-pagination
            total-items="controller.paging.totalItems"
            items-per-page="controller.paging.itemsPerPage"
            ng-model="controller.paging.currentPage"
            ng-change="controller.pageChanged()"></ul>
    </div>
</div>