<p class="lead">
    Redigera ordet och dess betydelse
</p>

<form name="form" ng-submit="update(entry)">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group" ng-class="{'has-error': form.word.$dirty && form.word.$invalid}">
                <label class="control-label">
                    Ange ett ord eller en fras
                </label>
                <input type="text"
                       class="form-control"
                       name="word"
                       ng-model="entry.text"
                       placeholder="Skriv ett ord eller fras"
                       maxlength="1024"
                       ng-disabled="saving"
                       autofocus="autofocus"
                       required />
                <span class="help-block" ng-show="form.word.$dirty && form.word.$invalid">
                    Du måste ange ett ord eller en fras
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group" ng-class="{'has-error': form.definition.$dirty && form.definition.$invalid}">
                <label class="control-label">
                    Ange ordet eller frasens betydelse
                </label>
                <input type="text"
                       class="form-control"
                       name="definition"
                       ng-model="entry.definition"
                       placeholder="Skriv betydelsen"
                       maxlength="1024"
                       ng-disabled="saving"
                       required />
                <span class="help-block" ng-show="form.definition.$dirty && form.definition.$invalid">
                    Skriv ordet eller frasens betydelse
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input class="btn btn-primary" type="submit" value="Spara" ng-disabled="form.$invalid || saving" />
            <a ng-href="/wordlist/{{word.wordListId}}"
               class="btn btn-default"
               ng-disabled="saving">
                Avbryt
            </a>
        </div>
    </div>
</form>