<div class="panel panel-default">
    <div class="panel-heading">
        <a href="{{'./wordlist/' + $ctrl.item.wordListId}}">
            {{$ctrl.item.name + ' (' + $ctrl.item.numberOfWords + ' ord)'}}
        </a>
        <a ng-if="$ctrl.item.numberOfWords"
           ui-sref="practice({wordListId: $ctrl.item.wordListId})"
           class="btn btn-primary btn-xs pull-right">
            öva
        </a>
        <published-state ng-if="$ctrl.item.isBorrowedWordList == false" published="$ctrl.item.published"></published-state>
        <div>
            <span ng-if="$ctrl.item.isBorrowedWordList">Skapad av {{$ctrl.item.wordListOwnerUsername}}</span>
        </div>
    </div>
    <div class="panel-body">
        <progress-item-progress item="$ctrl.item"></progress-item-progress>
        <div>
            <span>
                Du har gjort klart {{$ctrl.item.percentDone}}%. Fortsätt med nya tills du har nått 100%.
            </span>
        </div>
        <div>
            <span class="label label-warning" ng-if="$ctrl.item.percentDifficultWords">
                {{$ctrl.item.percentDifficultWords}}% svåra
            </span>
            <span class="label label-success" ng-if="$ctrl.item.percentEasyWords">
                {{$ctrl.item.percentEasyWords}}% enkla
            </span>
        </div>
    </div>
</div>
