<form name="form" ng-submit="editor.update(editor.entry)">
    <fieldset ng-disabled="editor.saving">
        <legend>
            Redigera
        </legend>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group" ng-class="{'has-error': form.word.$dirty && form.word.$invalid}">
                    <label class="control-label">
                        Ange ett ord eller en fras
                    </label>
                    <textarea type="text"
                              class="form-control vertical"
                              name="word"
                              ng-model="editor.entry.text"
                              placeholder="Skriv ett ord eller fras"
                              maxlength="1024"
                              ng-disabled="saving"
                              autofocus="autofocus"
                              autocapitalize="off"
                              autocomplete="off"
                              autocorrect="off"
                              ng-focus="showPrompt1 = true"
                              ng-blur="showPrompt1 = false"
                              ng-model-options="{ updateOn: 'default blur' }"
                              required></textarea>
                    <div class="messages">
                        <div class="message-animation" ng-if="showPrompt1">
                            Skriv ett ord eller en fras
                        </div>
                    </div>
                    <div class="messages" ng-show="form.word.$dirty && form.word.$invalid" ng-messages="form.word.$error">
                        <div class="message-animation" ng-message="required">
                            <strong>Du måste ange ett ord eller en fras</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group" ng-class="{'has-error': form.definition.$dirty && form.definition.$invalid}">
                    <label class="control-label">
                        Ange ordet eller frasens betydelse
                    </label>
                    <textarea type="text"
                              class="form-control vertical"
                              name="definition"
                              ng-model="editor.entry.definition"
                              placeholder="Skriv betydelsen"
                              maxlength="1024"
                              autocapitalize="off"
                              autocomplete="off"
                              autocorrect="off"
                              ng-disabled="saving"
                              ng-focus="showPrompt2 = true"
                              ng-blur="showPrompt2 = false"
                              ng-model-options="{ updateOn: 'default blur' }"
                              required></textarea>
                    <div class="messages">
                        <div class="message-animation" ng-if="showPrompt2">
                            Skriv ordet eller frasens betydelse
                        </div>
                    </div>
                    <div class="messages" ng-show="form.definition.$dirty && form.definition.$invalid" ng-messages="form.definition.$error">
                        <div class="message-animation" ng-message="required">
                            <strong>Du måste ange ett ord eller en betydelse</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid" click-once>
                    Spara
                </button>
                <a ng-href=".{{editor.returnUrl}}" class="btn btn-default">
                    Avbryt
                </a>
            </div>
        </div>
    </fieldset>
</form>