@model IEnumerable<MinaGlosor.Web.Data.Queries.GetWordListsQuery.Result>

@{
    Layout = null;
}

<table class="table table-condensed">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@Html.ActionLink("Visa", "View", new { id = item.Id })</td>
        </tr>
    }
</table>
