@model IEnumerable<MinaGlosor.Web.Data.Queries.GetWordListsQuery.Result>

@{
    Layout = null;
}

<table class="table table-condensed">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.WordCount</td>
            <td>@Html.ActionLink("Visa", "ViewWords", "Word", new { wordListId = item.Id }, null)</td>
        </tr>
    }
</table>
